
<div class="row">
  <div class="col-sm-12 mt-3">
    <h4 class="card-title">Who We Are?</h4>
  </div>
  <div class="col-sm-3 mt-3">
    <img [@aboutImg] class="card-img" src="../../../assets/img/about.png" alt="Card image cap">
  </div>
  <div class="col-sm-9">
    <div [@aboutText] class="card-block">
      <p class="text-justify">
        CodeTreatise, is an IT services provider which has skills and expertise to facilitate complex business solutions.
        We offer services of web, software, mobile and cloud development, UI/UX design, content management solutions
        and creative design from the very beginning until the end. Our overall process includes concept, design,
        development,	incorporation and implementation.
      </p>
      <p class="text-justify">We have a squad of experts, who are working on modern technologies and tools with vast
        experience to carry out web based projects, e-commerce, mobile applications, Desktop applications, And much
        more.
      </p>
      <p class="text-justify">Our vision is to help organizations in successful and qualitative representation of
        their businesses on web by truly understanding their needs followed by customized solutions for them.
        Our main aim is to deliver highly quality product and to maintain long lasting relationship with our
        clients.
      </p>
    </div>
  </div>
</div>
