
<footer class="navbar navbar-default navbar-static-bottom bg-faded mt-5" >
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-primary">We Are Also On</h5>
        <nav class="nav flex-column">
          <a class="nav-link facebook" href="#"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> Facebook</a>
          <a class="nav-link twitter" href="#"><i class="fa fa-twitter-square fa-lg " aria-hidden="true"></i> Twitter</a>
          <a class="nav-link google-plus" href="#"><i class="fa fa-google-plus-square fa-lg "></i> Google+</a>
          <a class="nav-link linkedin" href="#"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i> Linkedin</a>
        </nav>
      </div>
      <div class="col">
        <h5 class="text-primary">We Care About</h5>
        <nav class="nav flex-column">
          <a class="nav-link active" href="#">Active</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link disabled" href="#">Disabled</a>
        </nav>
      </div>
      <div class="col">
        <h5 class="text-primary">We Found At</h5>
        <p><strong><i class="fa fa-home text-primary" aria-hidden="true"></i> Welcome At:</strong> Plot No. 31, Sane Guruji Vasahat, Kolhapur - 416012, MH, India.</p>
        <p><strong><i class="fa fa-phone text-primary" aria-hidden="true"></i> Have Conversation:</strong> +91 866 828 4551</p>
        <p><strong><i class="fa fa-envelope text-primary" aria-hidden="true"></i> Drop A Message:</strong> support@codetreatise.com</p>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <span class="text-muted">Copyright @ 2017.</span>
  </div>
</footer>

