<div class="row mt-3">
  <h4 class="card-title">What We Offer?</h4>
  <div class="card-deck mt-3">
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/web-service.jpg" alt="Card image cap" height="200">
      <div class="card-block">
        <h4 class="card-title">Web Design</h4>
        <p class="card-text">We build engaging, secure and high performance websites, products, portals and web
          applications using latest technologies and frameworks across platforms.
        </p>
        <p>
          We deliver creative & cutting edge web development services interms of Web Apps, Websites & related services.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/software-service.jpg" alt="Card image cap" height="200">
      <div class="card-block">
        <h4 class="card-title">Software Development</h4>
        <p class="card-text">
          A rapidly altering business and technology landscape means that we’re continuously striving to improve our
          products. With each new release, our technical publications team develops and delivers user assistance,
          video courses, and knowledge base articles that enable our customers to stay updated.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/mobile-service.png" alt="Card image cap" height="200">
      <div class="card-block">
        <h4 class="card-title">Mobile App Development</h4>
        <p class="card-text">
          Providing best in class mobility services and solutions with complete mobility lifecycle consultation and
          custom app development services. We combines the latest in mobile technology, methods of engagement, and
          system integration — to deliver results that matters, and business value that lasts beyond a few business
          cycles.
        </p>
      </div>
    </div>
  </div>
  <div class="card-deck mt-3">
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/ux-service.jpg" alt="Card image cap" height="200">
      <div class="card-block">
        <h4 class="card-title">UI/UX Design</h4>
        <p class="card-text">We believe in human centric design thinking which is a process that enables us to solve
          real problems. For us, design means a detailing – a fresh opportunity to invent meaningful experiences
          that blend utility and emotion in the application.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/cloud-service.jpg" alt="Card image cap" height="200">
      <div class="card-block">
        <h4 class="card-title">Cloud Services</h4>
        <p class="card-text">
          We are helping businesses to embrace their agility, with the scale and availability by using the cloud as
          a basis to derive new insights, unlock new opportunities, and build new models for creating engaging,
          meaningful and richer customer experiences.
        </p>
        <p>
          We can deliver cloud optimisation, SAAS developments for your applications.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/iot-services.png" alt="Card image cap" height="200">
      <div class="card-block">
        <h4 class="card-title">IoT Services</h4>
        <p class="card-text">
          We offers IoT(Internet of Things) consulting, strategy, implementation, and operational support to help
          untangle the complex of IoT and align a solution to address the concerns.
        </p>
        <p>
          We identify IoT business cases and put into place the technology to create entirely new business models
          and revenue streams, while reducing costs and boosting efficiency.
        </p>
      </div>
    </div>
  </div>
</div>


